@import '../../constants/style/variables.scss';

.homeCard {
  width: 356px;
  min-height: 352px;
  margin: $margin_s $margin_s $margin_s 0;
  padding: $margin_m;

  @include media-query-tablet {
    min-width: 300px;
  }

  @include media-query-phone {
    min-width: 300px;
  }
}

.overviewCard {
  margin: 10px;
  padding: 10px;
  width: 31.3333%;
}

.blog-overview-container {
  background-image: url(../../img/bubbles/bubble_2.svg);
  background-repeat: no-repeat;
  background-position: -1100px -500px;
  background-size: auto 4000px;
}

/*****************************/
/* GRID FOR BLOGPOST OVERVIEW*/
.grid-item:nth-child(3n+1) {
  margin-top: -100px;
}

.grid-item:nth-child(3n) {
  margin-top: -200px;
}

.blog-overview-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;

  .grid-item {
    width: 288px;
    height: 350px;

    @include media-query-tablet {
      width: 47%;
      margin-top: 0;
    }

    @include media-query-phone {
      width: 100%;
      margin-top: 0;
    }
  }

  .grid-item--0 {
    margin-top: 100px;

    @include media-query-tablet {
      margin-top: 0;
    }
  }

  .grid-item--1 {
    margin-top: 200px;

    @include media-query-tablet {
      margin-top: 0;
    }

    @include media-query-phone {
      margin-top: 0;
    }
  }

  .grid-item--2 {
    margin-top: 0;
  }
}

/*****************************/
/*****************************/
.blogPostCard {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  background: white;
  color: $color-p;

  .blogPost-head-container {
    span {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: $font_site_xs;
    }

    .cat {
      text-transform: uppercase;
      float: left;
    }

    .date {
      float: right;
    }
  }

  .blogPost-title-container {
    min-height: 100px;

    h5 {
      overflow: hidden;
      font-size: $font_size_h - 8;
      margin-bottom: 0;
    }
  }

  .blogPost-content-container {
    margin: 0 auto;

    p {
      font-size: $font_size_p;
      color: $black2;
    }

    span {
      color: $black2;
    }

    a {
      font-weight: 700;
    }
  }

  .blogPost-link-container {
    margin-top: $margin_m;
    text-align: right;
  }
}