@import '../../constants/style/variables.scss';

.center-div {
  margin: 0 auto;
}

.left-div {
  float: left;
}

.right-div {
  float: right;
}

.text-comp-container {
  width: 370px;

  @include media-query-phone {
    width: 100%;
  }
}