@import './variables.scss';

*:focus {
  outline: none;
}

html {
  overflow-x: hidden;
}

p {
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-size: $font_size_p;
  color: $color_p;
}

a {
  text-decoration: none;
  color: inherit;

  :hover {
    color: inherit;
  }
}

h1,
h2,
h3,
h4 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 45px;
  font-size: 40px;

  @include media-query-phone {
    line-height: 33px;
    font-size: 33px;
  }
}