@import './variables.scss';

.offer-preview-container {
  width: 100%;
  display: flex;
  overflow: scroll;
  overflow: auto;

  @include media-query-tablet {
    width: 105%;
    justify-content: flex-start;
  }

  @include media-query-phone {
    width: 105%;
    justify-content: flex-start;
  }
}

.blog-p {
  margin-top: 120px;

  h3 {
    color: white;
  }
}

.margin-left {
  margin-left: 24%;

  @include media-query-tablet {
    margin-left: 0;
  }

  @include media-query-phone {
    margin-left: 0;
  }
}

.bubble-bg {
  background-image: url(../../img/bubbles/bubble_2.svg);
  background-repeat: no-repeat;
  background-position: -1100px -1100px;
  background-size: auto 4000px;

  @include media-query-phone {}
}