.offer-preview-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-bg {
  background-image: url(../../img/bubbles/Asset_Bubble2.svg);
  background-size: cover;
}