.preview-section {
  .black {
    color: black;
  }

  .white {
    color: white !important;
  }

  .newsletter-cta {
    a{
    font-family: "itc-avant-garde-gothic-pro-medium";
    font-size: 20px;
  }
  a:hover{
    font-weight: bold;
    color:#ffff;
    font-weight: 800px;
    font-family: "itc-avant-garde-gothic-pro-bold";
  }
  }
}