@import '../style/variables.scss';

#ernaehrung {
  position: relative;

  @include media-query-phone {
    overflow: hidden;
    height: 145vh;
  }

  @include media-query-tablet {
    overflow: hidden;
    height: 110vh;
    width: 100%;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 2000px;
    height: 2000px;
    left: 00px;
    top: -300px;

    @include media-query-phone {
      width: 1200px;
      height: 1200px;
      top: 00px;
      left: -500px;
    }

    @include media-query-tablet {
      top: -400px;
    }
  }
}

#coaching {
  position: relative;

  @include media-query-phone {
    overflow: hidden;
    height: 177vh;
    margin-top: -100px;
  }

  @include media-query-tablet {
    overflow: hidden;
    height: 122vh;
    margin-top: -100px;
    width: 100%;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 1500px;
    height: 1500px;
    left: -1000px;
    top: 0px;

    @include media-query-phone {
      top: 30px;
      left: -800px;
      overflow-x: hidden;

    }

    @include media-query-tablet {
      left: -600px;
    }
  }
}

#naehrwertanalyse {
  position: relative;

  @include media-query-phone {
    overflow: hidden;
    height: 160vh;
    margin-top: -100px;
  }

  @include media-query-tablet {
    overflow: hidden;
    height: 102vh;
    margin-top: -100px;
    width: 100%;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 1500px;
    height: 1500px;
    left: 600px;
    top: -200px;

    @include media-query-phone {
      width: 1200px;
      height: 1200px;
      top: 100px;
      left: -600px;

    }

    @include media-query-tablet {
      left: 50px;
    }
  }
}

#seminare {
  position: relative;

  @include media-query-phone {
    overflow: hidden;
    height: 150vh;
    margin-top: -100px;
  }

  @include media-query-tablet {
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    width: 100%;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 1500px;
    height: 1500px;
    right: 600px;
    top: 0px;

    @include media-query-phone {
      top: -100px;
      right: -300px;
    }

    @include media-query-tablet {
      right: -50px;
      top: -100px;
    }
  }
}

#betrieblich {
  position: relative;

  @include media-query-phone {
    overflow: hidden;
    margin-bottom: -160px;
    margin-top: -100px;
  }

  @include media-query-tablet {
    width: 100%;
    overflow: hidden;
    margin-bottom: -160px;
    margin-top: -100px;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 1500px;
    height: 1500px;
    left: 0px;
    top: 100px;

    @include media-query-phone {
      left: -500px;
      top: 100px;
    }
  }
}