@import '../style/variables.scss';

#ernaehrung {
  position: relative;


  @include media-query-phone {
    overflow: hidden;
  }

  @include media-query-tablet {
    overflow: hidden;
    width: 100%;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: auto;
    right: -1.5em;
    top: 40%;

    @include media-query-phone {
      width: 200%;
      top: 45%;
    }
  }
}

#coaching {
  position: relative;

  @include media-query-phone {
    overflow: hidden;
    margin-top: -100px;
  }

  @include media-query-tablet {
    overflow: hidden;
    margin-top: -100px;
    width: 100%;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: auto;
    left: -17.2em;
    top: 30%;

    @include media-query-phone {
      width: 350%;
      top: 30%;
    }

  }
}

#naehrwertanalyse {
  position: relative;

  @include media-query-phone {
    overflow: hidden;
    margin-top: -100px;
  }

  @include media-query-tablet {
    overflow: hidden;
    margin-top: -100px;
    width: 100%;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;

    @include media-query-phone {
      width: 300%;
    }
  }

}

#seminare {
  position: relative;

  @include media-query-phone {
    overflow: hidden;
    margin-top: -100px;
  }

  @include media-query-tablet {
    overflow: hidden;
    margin-top: -100px;
    width: 100%;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 1500px;
    height: 1500px;
    right: 600px;
    top: 0px;

    @include media-query-phone {
      top: -100px;
      right: -300px;
    }

    @include media-query-tablet {
      right: -50px;
      top: -100px;
    }
  }
}

#betrieblich {
  position: relative;

  @include media-query-phone {
    overflow: hidden;
    margin-bottom: -160px;
    margin-top: -100px;
  }

  @include media-query-tablet {
    width: 100%;
    overflow: hidden;
    margin-bottom: -160px;
    margin-top: -100px;
  }

  img {
    position: absolute;
    z-index: -10;
    width: 1500px;
    height: 1500px;
    left: 0px;
    top: 100px;

    @include media-query-phone {
      left: -500px;
      top: 100px;
    }
  }
}