@import '../style/variables.scss';

.ueberUnsContainer {
  background-color: rgb(216, 216, 216);
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(10, 1fr);
  height: 140em;
  overflow: hidden;
  @include media-query-xxl {
    height: 180em;
  }
  @include media-query-phone {
    height: 110em;
  }

  .ueberunsContainerImg {
    //background-color: red;
    background-image: url(../../img/ueberuns.gif);
    background-size:contain;
    background-position-y: 70px;
    grid-column:1 / 11; 
    grid-row: 1 / 11; 
    background-repeat: no-repeat;

    @include media-query-xxl {
      background-size:contain;
    }

  }

  .texttitel {
    .paragraph-container{
      width:386px;
      @include media-query-phone {
        width: 90%;
      }
    }

    h1 {
      line-height: 175px;
      font-size: 130px;
      @include media-query-tablet {
        font-size: 67px;
      }
       @include media-query-phone {
        font-size: 67px;
      }
    h2{
      margin-top:-80px;
    }
  }
    align-self: end;
    grid-column:5 / 10;
    grid-row:7;
    z-index: 10;

    @include media-query-tablet {
      grid-column: 4 / 10;
      grid-row: 4;
    }

    @include media-query-phone {
      grid-column: 2 / 11;
      grid-row: 5;
    }
  }

  .bubble-zwei{
      grid-column:9/ 11;
      width: 100%; 
      grid-row:7; 
      z-index: 10;

      @include media-query-xxl {
        grid-column:8/ 11;
        grid-row:7;
      }

      @include media-query-tablet {
        grid-row:4;
        grid-column:8/ 11; 
      }
      @include media-query-phone {
        display:none;
      }
    }

  .bubble-eins {
    transform: scaleX(-1);
    z-index: 10;
    grid-column: 1/ 10;
    grid-row: 1;

    @include media-query-xxl {
      width: 45%;
      grid-column:1/ 11;
      grid-row:1;
    }

    @include media-query-phone {
      display: none;
    }

    @include media-query-tablet {
      width: 70%;
    }
  }

  .textNamen {
    grid-column: 3/7;
    grid-row: 7;

    @include media-query-phone {
      grid-row: 5;
      grid-column: 2/10;

    }
  }

  .bruder-container {
    font-size: 1.5em;
  }
}