@import '../style/variables.scss';

#ueberunsContainer{
background-image: url(../../img/ueber-uns.gif);
margin: 0 auto;
  width: 100%;
  height: 1375px;
}

#containerText{

    height: 1000px;
    width: 100%;
    background-color: rgb(216,216,216);
}