/* custom bootstrap*/
.container {
  @media (min-width: 1500px) {
    width: 1440px !important;
  }
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.sperator {
  margin-bottom: 160px;

  @media (max-width: 575px) {
    margin-bottom: 152px;
  }
}

$grid-gutter: 15px;

/* colors */
$brand_grey: #2d3232;
$color-p: #140a37;
/* margins and paddings */
$margin_xs: 8px;
$margin_s: 16px;
$margin_m: 32px;
$margin_xl: 48px;
$margin_xxl: 54px;
$margin_video: 70px;

/* typo */

@font-face {
  font-family: "itc-avant-garde-gothic-pro";
  src: url("https://use.typekit.net/af/ad070d/00000000000000003b9b1fb3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
    url("https://use.typekit.net/af/ad070d/00000000000000003b9b1fb3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
    url("https://use.typekit.net/af/ad070d/00000000000000003b9b1fb3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
}

p,
h1,
h2,
h3,
li {
  font-family: "itc-avant-garde-gothic-pro";
}

.farbverlauf {
  background-image: linear-gradient(to right, #01072e, #e5331c);
  background-image: -webkit-linear-gradient(to right, #01072e, #e5331c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white {
  color: white;
}

$font_site_xs: 12px;
$font_size_p: 16px;
$font_size_h: 38px;
$font_size_h_mobile: 26px;

/* media querys */
@mixin media-query-xxl {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin media-query-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin media-query-tablet {
  @media (min-width: 576px) and (max-width: 1199px) {
    @content;
  }
}

@mixin media-query-phone {
  @media (max-width: 575px) {
    @content;
  }
}