@import '../../constants/style/variables.scss';

.homepageText-container {
  overflow: auto;
  min-height: 70vh;
  background-image: url(../../img/bubbles/bubble_1.svg);
  background-repeat: no-repeat;
  background-size: auto 3500px;
  background-position: 35% -2300px;
  margin-bottom: $margin_xl * 2;

  @include media-query-phone {
    min-height: 135vh;
    background-position: -900px -1900px;
  }

  @include media-query-tablet {
    min-height: 50vh;
    background-position: -900px -2050px;
  }

  .homepageText-content {
    width: 70%;
    margin: 0 auto;
    margin-top: $margin_xl;

    .hompageText-title {
      margin-top: $margin_s;
      max-width: 670px;
      line-height: 40px;
      font-size: 38px;
      color: #FFFFFF;
    }

    .hompageText-text {
      max-width: 385px;

      p {
        line-height: 22px;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }

}