@import '../../constants/style/variables.scss';

.homepageText-container {
  min-height: 80vh;
  background-image: url(../../img/bubbles/bubble_1.svg);
  background-repeat: no-repeat;
  background-size: auto 3200px;
  background-position: -600px -2000px;

  @include media-query-phone {
    min-height: 100vh;
    background-position: -900px -1900px;
  }

  @include media-query-tablet {
    min-height: 71vh;
    background-position: -900px -2000px;
  }


  .homepageText-content {
    width: 80%;
    margin: 0 auto;
    margin-top: $margin_xl;

    .hompageText-title {
      max-width: 670px;
      line-height: 40px;
      font-size: 38px;
      color: #FFFFFF;
    }

    .hompageText-text {
      max-width: 385px;

      p {
        line-height: 22px;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }

}