@import '../../constants/style/variables.scss';

.homepageText-container {
  overflow: auto;
  min-height: 110vh;
  background-image: url(../../img/bubbles/bubble_1.svg);
  background-repeat: no-repeat;
  background-size: auto 3500px;
  background-position: 40% -2150px;

  @include media-query-xxl {
    min-height: 85vh;
  }

  @include media-query-phone {
    min-height: 120vh;
    background-position: -900px -2035px;
  }

  @include media-query-tablet {
    min-height: 50vh;
    background-position: -900px -2050px;
  }

  .homepageText-content {
    width: 70%;

    @include media-query-phone {
      width: 95%;

    }

    .hompageText-title {
      margin-top: $margin_s;
      max-width: 670px;
      line-height: 40px;
      font-size: 38px;
      color: #FFFFFF;
    }

    .hompageText-text {
      max-width: 385px;

      p {
        line-height: 22px;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }

}