@import "../../constants/style/variables.scss";

@font-face {
  font-family: "Digital Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../constants/style/fonts/digital-7\ \(mono\).ttf")
    format("truetype");
}

.tpot {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.countdown-container {
  .row {
    @include media-query-xxl {
      display: flex;
      justify-content: space-between;
    }
  }

  h3 {
    margin: 0;
  }

  .font-mono {
    font-family: "Digital Mono";
  }

  .fs-super {
    font-size: 22rem;
    text-align: left;

    @include media-query-phone {
      font-size: 8rem;
    }
  }

  .fs-xxl {
    font-family: "itc-avant-garde-gothic-pro-medium";
    text-align: left;
    font-size: 5rem;

    @include media-query-phone {
      font-size: 2rem;
    }
  }

  .text-center {
    text-align: left;
  }

  .text-start {
    // text-align: start;

    @include media-query-phone {
      margin-left: 20px;
    }
  }
}
