.morph-component-container {
    .morph-svg{
        margin: 0 auto;
    }
    .morph-component {
        background-image: url('../../img/morph/morph_bg.svg');
        background-size: contain;
        background-repeat: no-repeat;

    }
}