@import '../../constants/style/variables.scss';

.navigation-container {

  .bm-burger-button {
    position: fixed;
    top: $margin_m;
    width: 25px;
    height: 20px;
    right: $margin_m;
  }

  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 95px;
  background: #FFFFFF;
  box-shadow: 0px -10px 35px rgba(0, 0, 0, 0.5);

  @include media-query-phone {
    height: 80px;
  }

  .navigation-flex {
    display: flex;
    justify-content: space-between;
  }

  .image-container {
    margin-top: 24px;
    margin-left: $margin_s;
    position: relative;

    img {
      height: $margin_xl;
      width: auto;

      @include media-query-phone {
        margin-top: $margin_s;
        left: 10px;
        top: 10px;
      }
    }

    @include media-query-phone {
      position: fixed
    }

    @include media-query-tablet {
      position: fixed
    }
  }

  .navigation-menu {
    a {
      font-family: "itc-avant-garde-gothic-pro-medium";
    }

    a:hover{
      font-weight: normal;

    }
    a:active,
    a:focus {
      text-decoration: none;
        }

    margin-right: $margin_xs;

    @include media-query-tablet {
      display: none;
    }

    @include media-query-phone {
      display: none;
    }

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      text-align: center;
      padding: 22px $margin_s;
      text-decoration: none;
    }
  }

  .burgerMenu-container {

    @include media-query-tablet {
      display: block;
    }

    @include media-query-desktop {
      display: none;
    }

    .burgerMenu-logo {
      margin-left: $margin_s;
      margin-top: $margin_s;

      img {
        margin-left: $margin_s;
        height: $margin_xxl;
        width: auto;
        left: $margin_s;
        top: $margin_s;
      }
    }


    .bm-burger-bars {
      background: $black;
    }

    .bm-menu {
      z-index: 1000;
      background: linear-gradient(to top, #140A37, #E61E0A);
    }

    .bm-morph-shape {
      fill: #373a47;
    }

    .bm-menu-wrap {
      position: fixed;
      height: 100%;
    }

    // .bm-item-list {
    //  }
    .burgerMenu-content {
      margin-top: $margin_xl;
      color: white;
      font-size: $font_size_h;

      a {
        display: flex;
        margin-top: $margin_s;
        margin-left: $margin_m;
      }
    }

    .burger-items {
      a {
        font-family: "itc-avant-garde-gothic-pro-medium";
        font-size: 38px;
        line-height: 50px;
        margin-top: 5%;
      }

      a:hover,:active,:focus{
        color: #ffff
      }
    }

    .bm-overlay {
      z-index: 1000;
      background: rgba(0, 0, 0, 0.3);
    }

    .burgerMenu-br {
      @include media-query-tablet {
        display: none;
      }

      @include media-query-phone {
        display: block;
      }
    }
  }

  //   /* Add a red background color to navigation links on hover */
  //   .navbar a:hover, .subnav:hover .subnavbtn {
  //   }
  /* Style the subnav content - positioned absolute */
  .subnav-content-container-other {
    visibility: hidden;
    position: fixed;
    transition: 1.5s;
    /* delay of 1 seconds on hover off */
    z-index: 200;
    left: 0;
    background: linear-gradient(to right, #140A37, #E61E0A);
    width: 100%;
    margin-top: 10px;
  }

  .subnav-content-container {
    display: block;
    position: fixed;
    z-index: 200;
    left: 0;
    background: #2D3232;
    ;
    width: 100%;
    margin-top: 10px;
  }

  // .triangle {
  //   display: block;
  //   position: fixed;
  //   margin-left: $margin_xl;
  //   border-left: $margin_s solid transparent;
  //   border-right: $margin_s solid transparent;
  //   border-bottom: $margin_s solid #2D3232; //linear-gradient(to right, #090909 , #A32626);
  //   margin-top: -5px;
  // }

  .triangle-other {
    visibility: hidden;
    position: fixed;
    transition: 1.5s;
    /* delay of 1 seconds on hover off */
    margin-left: $margin_xl;
    border-left: $margin_s solid transparent;
    border-right: $margin_s solid transparent;
    border-bottom: $margin_s solid #A32626; //linear-gradient(to right, #090909 , #A32626);
    margin-top: -5px;
  }

  /* Style the subnav links */
  .subnav-content {
    height: $margin_xxl;
    margin-left: 18%;

    @media (min-width: 1920px) {
      margin-left: 32%;

    }

    a {
      padding: $margin_s $margin_s;
      float: left;
      color: white;
    }
  }

  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content-container-other {
    visibility: visible;

  }

  .subnav:hover .triangle-other {
    visibility: visible;
  }
}