@import '../../constants/style/variables.scss';

.subPage-header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
  grid-template-columns: repeat(10, 10vw);
  -ms-grid-row: 0fr 0fr 0fr 0fr 0fr;
  grid-template-rows: repeat(5, 0fr);

  .left-bubbble {
    width: 80%;
    align-self: center;
    grid-column: 1/11;
    grid-row: 1/2;
  }

  .right-bubbble {
    justify-self: flex-end;
    margin-top: 5%;
    width: 140%;
    grid-column: 6/11;
    grid-row: 1;
  }

  .subpage-title-container {
    grid-column: 2 / 10;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    justify-self: flex-start;
    align-self: center;
    grid-row: 1/2;

    @include media-query-phone {
      margin-top: -140px;
      justify-self: center;
      align-self: flex-start;
      grid-row: 2;
    }

    h1 {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 160px;
      letter-spacing: -2.99435px;

      @include media-query-tablet {
        font-size: 70px;
      }

      @include media-query-phone {
        font-size: 70px;
      }
    }
  }

  .subpage-text-container {
    grid-column: 4/ 8;
    justify-self: center;
    align-self: flex-end;
    grid-row: 1/2;

    @include media-query-tablet {
      justify-self: flex-start;
      align-self: flex-start;
      grid-row: 2;
    }

    @include media-query-phone {
      grid-column: 2/ 10;
      justify-self: center;
      align-self: flex-start;
      grid-row: 2;
    }
  }
}