@import '../../constants/style/variables.scss';

.subPage-header-container {
  position: static;
  overflow: hidden;
  height: 108vh;


  @include media-query-phone {
    height: auto;
  }

  @include media-query-tablet {
    height: auto;
  }

  .left-bubbble {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    left: -10%;
    top: 20%;

    @include media-query-phone {
      display: none;
    }
  }

  .right-bubbble {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 8%;
    right: -10%;

    @include media-query-phone {
      top: 0;
    }
  }

  .subpage-title-container {
    margin-top: 18.96%;

    h2 {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 200px;
      letter-spacing: -2.99435px;

      @include media-query-phone {
        font-size: 70px;
      }
    }
  }

  .subpage-text-container {
    max-width: 390px;
    margin: 0 auto;
  }
}