@import '../../constants/style/variables.scss';

.form-felder {
  .form-contacthead {
    h1 {
      margin-top: 10%;
    }

    p {
      margin-bottom: -$margin_xs;
      color: #140A37;
      font-size: 25px;
      font-family: "itc-avant-garde-gothic-pro-bold";

      @include media-query-phone {
        font-size: 25px;
        line-height: 28px;
      }
    }
  }

  input {
    margin-top: $margin_m;
    margin-bottom: $margin_xs;
    line-height: $margin_m;
    width: 100%;
    background: #D8D8D8;
    border-radius: 3px;
    border: 1px solid #D8D8D8;
    font-size: $font_size_p;
  }

  textarea {
    margin-top: $margin_m;
    margin-bottom: $margin_xs;
    width: 100%;
    line-height: $margin_xl;
    resize: none;
    border-radius: 4px;
    background: #D8D8D8;
    border-color: #D8D8D8;

  }

  label{
    font-family: "itc-avant-garde-gothic-pro-medium";
    font-size:12px;
  }
  span{
    font-family: "itc-avant-garde-gothic-pro-medium";
  }

  .input-button {
    width: 100%;
    height: $margin_xl;
    background: #140A37;
    border-radius: 3px;

    color: $white;
    font-family: "itc-avant-garde-gothic-pro-medium";
  }

  .checkbox-column {
    margin-top: $margin_m;
  }

  input[type=checkbox] {
    &[required]+label:after {
      content: "*";
      color: red;
    }
  }

  input[type=checkbox]+label {
    display: block;
    margin-right: $margin_m;
    margin-bottom: $margin_s;
    cursor: pointer;
    padding: 0.2em;
  }

  input[type=checkbox] {
    display: none;
  }

  .checkbox-flow {
    margin-top: $margin_m;

    @include media-query-desktop {
      display: flex;
    }
  }

  input[type=checkbox]+label:before {
    content: "\2714";
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.8em;
    margin-bottom: 0.2em;
    vertical-align: bottom;
    color: transparent;
    background-color: #D8D8D8;
    transition: .2s;
  }


  input[type=checkbox]:checked+label:before {
    background-color: #D8D8D8;
    color: #140A37;
  }

  input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #D8D8D8;
    ;
  }

  .telefon-container {
    padding: 0px 0px 0px $margin_s;

    @include media-query-tablet {
      padding: 0px 0px 0px 0px;
    }

    @include media-query-phone {
      padding: 0px 0px 0px 0px;
    }
  }

  .e-mail-container {
    padding: 0px $margin_s 0px 0px;

    @include media-query-tablet {
      padding: 0px 0px 0px 0px;
    }

    @include media-query-phone {
      padding: 0px 0px 0px 0px;
    }
  }

  .hr-container {
    display: none;

    @include media-query-phone {
      display: block;

      hr {
        border: 1px solid #2D3232;

      }
    }
  }
}

.newsletter-container {
  margin-bottom: 65px;
}