@import "../../constants/style/variables.scss";

.header-container {
  margin-top: 35%;
  margin-left: 5%;
  position: absolute;
  max-width: 30%;
  font-size: 3rem;

  @include media-query-phone {
    display: none;
  }

  @include media-query-tablet {
    display: none;
  }

}

#background-video {
  margin-top: $margin_video;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  object-fit: cover;
  z-index: -1;

  /* optional depending on what you want to do in your app */
  @include media-query-phone {
    height: 100vh;
  }

  @include media-query-tablet {
    height: 100vh;

  }
}