@import "../../constants/style/variables.scss";

#background-video {
  margin-top: $margin_video;
  height: 80vh;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  object-fit: cover;
  /* optional depending on what you want to do in your app */
}
