@import '../../constants/style/variables.scss';

.testo-con {
  overflow: hidden;
  margin-top: $margin_m;
}

.testimonial-text {
  p {
    color: $black;
  }
}

.testimonials-container {
  background: #DADADA;
  overflow: hidden;

  .testimonial-content {
    width: 80%;
    margin: 0 auto;

    @include media-query-xxl {
      padding-top: $margin_xxl;
    }
  }

  .testimonial-image {
    height: 350px;

    img {
      height: 350px !important;
    }

    @include media-query-xxl {
      height: 400px;

      img {
        height: 400px !important;
      }
    }

    @include media-query-phone {
      height: 100%;

      img {
        height: 100% !important;
      }
    }
  }
}