@import '../../constants/style/variables.scss';

.offerCard {
  min-width: 356px;
  min-height: 352px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  margin: $margin_s $margin_s $margin_s 0;
  padding: $margin_m;
  background: white;
  color: $color-p;

  @include media-query-phone {
    min-width: 256px;
  }

  .offer-price-container {
    position: relative;
    vertical-align: top;


    p {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 75px;
      margin-top: 0;
      margin-bottom: $margin_s;
    }

    .euro {
      position: absolute;
      font-size: 25px;
    }

    .time {
      top: 80%;
      left: 10px;
      position: absolute;
      font-size: 12px;
    }
  }

  .offer-title-container {
    h5 {
      font-size: 25px;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .offer-content-container {
    min-height: 100px;

    p {
      font-size: 25px;
    }

    ul {
      list-style-position: inside;
      padding: 0;

      li {
        line-height: 22px;
        font-size: 16px;
      }
    }
  }

  .offer-link-container {
    margin-top: $margin_m;
    text-align: right;
  }
}