@import '../../constants/style/variables.scss';


.subpage-content-container {
  margin: 0 auto;
  max-width: 812px;

  .blog-container {
    margin-top: 150px;

    p {
      text-align: justify;
    }
  }
}