@import '../../constants/style/variables.scss';


.subpage-content-container {
  margin: 0 auto;
  margin-top: 150px;
  max-width: 812px;

  .blog-container{
    h1{
      text-align: center;
    }
    p{
      text-align: justify;
    }
  }
}